* {
  border: none;
  font-family: Fira Code Nerd Font; 
  font-size: 16px;
}

window#waybar {
  background-color: #12151d;
  border-bottom: 3px solid #1e222a;
  color: #abb2bf;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.4;
}

#workspaces,
#mode,
#custom-media,
#custom-fans,
#clock,
#idle_inhibitor,
#custom-notification,
#language,
#pulseaudio,
#backlight,
#battery,
#network,
#power-profiles-daemon,
#mpd,
#custom-rofi,
#tray {
  padding: 0 10px;
  margin: 2px 4px 4px 4px;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 90px;
  background-clip: padding-box;
}

#workspaces button {
  padding: 0 5px;
  min-width: 20px;
  color: #61afef;
}

#cpu,
#temperature,
#memory,
#disk {
  padding: 0 10px;
  margin: 2px 4px 4px 4px;
}

#custom-dunst {
  color: #abb2bf;
}

#workspaces button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  color: #c678dd;
}

#disk {
  color: #56b6c2;
}

#workspaces button.urgent {
  color: #e06c75;
}

#workspaces button.active {
  color: #00ff55;
}

#cpu {
  color: #d19a66;
}

#memory {
  color: #c678dd;
}

#temperature {
  color: #61afef;
}

#temperature.critical {
  background-color: #e06c75;
  color: #1e222a;
}

#custom-media {
  background-color: #c678dd;
  color: #1e222a;
}

#custom-fans {
  color: #98c379;
}

#clock {
  color: #61afef;
}

#custom-power {
  color: #f25287;
}

#idle_inhibitor {
  color: #abb2bf;
}

#idle_inhibitor.activated {
  color: #abb2bf;
}

#language {
  color: #56b6c2;
}

#pulseaudio {
  color: #d19a66;
}

#custom-rofi {
  color: #ffffff;
  background-color: #008aff;
}

#pulseaudio.muted {
  color: #e06c75;
}

#backlight {
  color: #61afef;
}

#battery {
  color: #98c379;
}

#battery.charging, #battery.plugged {
  background-color: #98c379;
  color: #1e222a;
}

@keyframes blink {
  to {
    background-color: #1e222a;
    color: #e06c75;
  }
}

#battery.critical:not(.charging) {
  background-color: #e06c75;
  color: #1e222a;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  color: #c678dd;
}

#network.disconnected {
  background-color: #e06c75;
  color: #1e222a;
}

