// @define-color bg rgba(251, 248, 239, 0.8);
@define-color bg rgba(41, 43, 46, 0.8);

.control-center {
    border-radius: 18px;
    padding: 8px;
    background-color: @bg;
    background-clip: border-box;
}

.notification {
    background: transparent;
    margin: 8px 0px 0px 0px;
    border-radius: 12px;
}

.notification-content {
    background: transparent;
    border-radius: 12px;
}

.notification-row {
    background: transparent;
    margin-bottom: 4px;
    border-radius: 12px;
}

.critical {
    background: red;
    padding: 2px;
    border-radius: 12px;
}

